# Our three formats

We will learn how to injest (read into pandas):

  * csv files
  * excel files
  * sql files

In all cases, we can only read in simple values, if you have formulas in your excel spreadsheet, they are not getting injested into a DataFrame

In all cases, the result of injesting data is a pandas `DataFrame``

We typically populate a data frame from some external source, the most common being a CSV file.  For this we use the `read_csv` function from the pandas library.  We pass it a path to the file we want to load.  On this machine, we are running Linux in the background, so we use Linux-style paths.  Your path would look different on a Windows machine.  Advanced: If you want to run the same code on all computers, [you need a library to build your paths for you](https://medium.com/@ageitgey/python-3-quick-tip-the-easy-way-to-deal-with-file-paths-on-windows-mac-and-linux-11a072b58d5f)

In [ ]:
import pandas as pd

box_hill = pd.read_csv("data/rainfall/box_hill.csv")
box_hill

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
0,IDCJAC0009,67104,1990,1,1,NaN,NaN,NaN
1,IDCJAC0009,67104,1990,1,2,NaN,NaN,NaN
2,IDCJAC0009,67104,1990,1,3,NaN,NaN,NaN
3,IDCJAC0009,67104,1990,1,4,NaN,NaN,NaN
4,IDCJAC0009,67104,1990,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11764,IDCJAC0009,67104,2022,3,18,0.0,1.0,N
11765,IDCJAC0009,67104,2022,3,19,17.0,1.0,N
11766,IDCJAC0009,67104,2022,3,20,1.0,1.0,N
11767,IDCJAC0009,67104,2022,3,21,0.0,1.0,N
11768,IDCJAC0009,67104,2022,3,22,0.0,1.0,N


A number of very interesting things happen:
  1) The dataframe has been given an index that starts at 0 and goes up one at at time.  That data was not in the original CSV file.
  2) Any empty cells were given the value `NaN` (which means "not a number")
  3) The first row is used to create column names (remember a column in a `Series`)
  4) When printing the frame, only the first 5 and last 5 rows are shown and the full imensions are shown at the bottom.

If we extract one of the series from this frame, it will use the generated indexes.

In [ ]:
box_hill["Rainfall amount (millimetres)"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
11764     0.0
11765    17.0
11766     1.0
11767     0.0
11768     0.0
Name: Rainfall amount (millimetres), Length: 11769, dtype: float64

# Setting the index columns

Typically, the data will already have a column that works as an index.  An index is any column that is unique for that row.  I.e. it has a different value on every row of the data.  For this reason we don't have a single column in our data that can do this, but there is a combination that works!  If we combine "Year", "Month", and "Day", the result is different for each row.  The advantage of doing this is that the index becomes a more natural way to look at the data.  If we do use multiple columns for the index, we get a "Multi-Index" which we will talke about soon.

# Excel

Beyond the additional formatting, the primary difference between a CSV file and an Excel file is that the Excel file might have mutliple "worksheets", each one of which represents a table that can be imported into a DataFrame.  We have provided an example file with some fun data in `data/fun.xlxs`, here is how to read it using [pandas built-in `read_excel`](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) function.

Note: you need to have an additional library installed to make this work:
  * [`openpyxl`](https://pythonexamples.org/modulenotfounderror-no-module-named-openpyxl/)

You might also note that reading these excel files is _very slow_  because they are very large datasets.

If we provide no extra arguments to `read_excel` it will only read the first sheet.

In [ ]:
pd.read_excel("data/fun.xlsx")

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896 Summer,1896,Summer,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
271112,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
271113,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
271114,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
271115,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

We can index other sheets with a number (starting at 0 for the left-most sheet) or by name

# Loading Data from SQLite

Pandas can read data from many sources, lets take a look at an interesting one.  You may have noticed that DataFrames look a lot like database tables?  Indeed you can load a database table directly into a dataframe.

Unfortunately, we can't do it all from Pandas, we have to use the `sqlite3` library to load up the database.

Here is a table of all the surnames with at least 100 humans attached from ... somewhere?  I think perhaps America?  I can educate my guess by adding up the total number of people accounted for.

In [ ]:
import sqlite3

# we need to use the sqlite library to access the file
con = sqlite3.connect("data/sql/census2000names.sqlite")

# but then pandas can load up the table
df = pd.read_sql("SELECT * FROM surnames;", con)

df["count"].sum()

242121073

242 million?  Sounds about right for the USA.

When you don't know what tables are in your sql file, you need to do a little magic to find out

In [ ]:
con2 = sqlite3.connect("data/sql/sfscores.sqlite")
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", con2)
tables

          name
0   businesses
1  inspections
2   violations

In [ ]:
pd.read_sql("select * from businesses;", con2)

,business_id,name,address,city,postal_code,latitude,longitude,phone_number,TaxCode,business_certificate,application_date,owner_name,owner_address,owner_city,owner_state,owner_zip
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,None,Tiramisu LLC,33 Belden St,San Francisco,CA,94104
1,19,Nrgize Lifestyle Cafe,"1200 Van Ness Ave, 3rd Floor",San Francisco,94109,37.786848,-122.421547,NaN,H24,NaN,None,24 Hour Fitness Inc,"1200 Van Ness Ave, 3rd Floor",San Francisco,CA,94109
2,24,OMNI S.F. Hotel - 2nd Floor Pantry,"500 California St, 2nd Floor",San Francisco,94104,37.792888,-122.403135,NaN,H24,352312.0,None,OMNI San Francisco Hotel Corp,"500 California St, 2nd Floor",San Francisco,CA,94104
3,31,Norman's Ice Cream and Freezes,2801 Leavenworth St,San Francisco,94133,37.807155,-122.419004,NaN,H24,346882.0,None,Norman Antiforda,2801 Leavenworth St,San Francisco,CA,94133
4,45,CHARLIE'S DELI CAFE,3202 FOLSOM St,S.F.,94110,37.747114,-122.413641,NaN,H24,340024.0,2001-10-10,"HARB, CHARLES AND KRISTIN",1150 SANCHEZ,S.F.,CA,94114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7629,89416,Nobhill Pizza & Shawerma,1534 California St,None,94109,NaN,NaN,NaN,H24,1051081.0,2016-09-29,"BBA Foods, Inc.","840 Post Street, #218",San Francisco,CA,94109
7630,89449,Burger King 4525,1701 Fillmore St,San Fracncisco,94115,NaN,NaN,1.415064e+10,H29,NaN,2016-10-03,Golden Gate restaurant Group INC,P.O Box 21,Lafayette,CA,94549
7631,89453,Burger King #4668,1690 Valencia St,San Francisco,94110,NaN,NaN,NaN,H29,459309.0,2016-10-03,"Golden Gate Restaurant Group, Inc",P.O Box 21,Lafeyette,CA,94549
7632,89475,Lovejoy's Tea Room,1351 Church St,None,94114,NaN,NaN,1.415565e+10,H25,NaN,2016-10-03,CCD LLC,1350 Church Street,San Francisco,CA,94114
7633,89515,One Waan Thai,2922 Diamond St,San Francisco,94131,NaN,NaN,NaN,H25,NaN,2016-10-06,One Waan LLC,2922 Diamond St.,San Francisco,CA,94131

In [ ]:
pd.read_sql("select * from inspections;", con2)

      business_id  Score      date                             type
0              10    NaN  20160707  Complaint Reinspection/Followup
1              10   82.0  20160503            Routine - Unscheduled
2              10    NaN  20140807            Reinspection/Followup
3              10   94.0  20140729            Routine - Unscheduled
4              10    NaN  20140124            Reinspection/Followup
...           ...    ...       ...                              ...
27338       89204  100.0  20160912            Routine - Unscheduled
27339       89296    NaN  20160930                    New Ownership
27340       89305   92.0  20160930            Routine - Unscheduled
27341       89305    NaN  20160930                    New Ownership
27342       89385    NaN  20160930                 New Construction

[27343 rows x 4 columns]

In [ ]:
pd.read_sql("select * from violations;", con2)

,business_id,date,ViolationTypeID,risk_category,description
0,10,20140729,103129,Moderate Risk,Insufficient hot water or running water
1,10,20140729,103144,Low Risk,Unapproved or unmaintained equipment or utensils
2,10,20140114,103119,Moderate Risk,Inadequate and inaccessible handwashing facili...
3,10,20140114,103145,Low Risk,Improper storage of equipment utensils or linens
4,10,20140114,103154,Low Risk,Unclean or degraded floors walls or ceilings
...,...,...,...,...,...
40730,89072,20160922,103131,Moderate Risk,Moderate risk vermin infestation
40731,89072,20160922,103149,Low Risk,Wiping cloths not clean or properly stored or ...
40732,89305,20160930,103154,Low Risk,Unclean or degraded floors walls or ceilings
40733,89305,20160930,103120,Moderate Risk,Moderate risk food holding temperature
40734,89305,20160930,103157,Low Risk,Food safety certificate or food handler card n...


# Exercise - whr

Read in all three sheets (they are called `2015`, `2016`, and `2017`) from the `data/whr.xlsx`.  We've given a sneak-peak of next worksheet's material to combine the three into one data frame.

In [ ]:
whr_2015 = # fixme
whr_2016 = # fixme
whr_2017 = # fixme

#pd.concat([whr_2015, whr_2016, whr_2017])
pd.concat([whr_2015,whr_2016, whr_2017])

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Lower Confidence Interval,Upper Confidence Interval,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.349510,0.94143,0.665570,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.402230,0.94784,0.628770,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.360580,0.87464,0.649380,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.330950,0.88521,0.669730,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.322610,0.90563,0.632970,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,NaN,NaN,NaN,NaN,NaN,0.945707,NaN,0.581844,NaN,...,NaN,NaN,151.0,3.471,3.543030,3.398970,0.368746,0.326425,0.455220,0.540061
151,Syria,NaN,NaN,NaN,NaN,NaN,0.396103,NaN,0.081539,NaN,...,NaN,NaN,152.0,3.462,3.663669,3.260331,0.777153,0.500533,0.151347,1.061574
152,Tanzania,NaN,NaN,NaN,NaN,NaN,1.041990,NaN,0.390018,NaN,...,NaN,NaN,153.0,3.349,3.461430,3.236570,0.511136,0.364509,0.066035,0.621130
153,Burundi,NaN,NaN,NaN,NaN,NaN,0.629794,NaN,0.059901,NaN,...,NaN,NaN,154.0,2.905,3.074690,2.735310,0.091623,0.151611,0.084148,1.683024
154,Central African Republic,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.270842,NaN,...,NaN,NaN,155.0,2.693,2.864884,2.521116,0.000000,0.018773,0.056565,2.066005