# Mask

A mask is a Series with the same index as your dataframe where every value is a boolean

In [7]:
import pandas

wentworth = pandas.read_csv("data/rainfall/IDCJAC0009_047045_1800_Data.csv")

# get a series
year = wentworth["Year"]

# create a boolean series from that
mask = year < 1934

mask

0         True
1         True
2         True
3         True
4         True
         ...
32288    False
32289    False
32290    False
32291    False
32292    False
Name: Year, Length: 32293, dtype: bool

Notice how the mask has the exact same index as the DataFrame it was taken from - this is good news because we can use it to filter the rows of the DataFrame.

The key is that _if you put a mask in the square brackets of a DataFrame, instead of getting columns, you get all the rows where that mask has True_

In [8]:
wentworth[mask]

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
0,IDCJAC0009,47045,1933,1,1,NaN,NaN,NaN
1,IDCJAC0009,47045,1933,1,2,NaN,NaN,NaN
2,IDCJAC0009,47045,1933,1,3,NaN,NaN,NaN
3,IDCJAC0009,47045,1933,1,4,NaN,NaN,NaN
4,IDCJAC0009,47045,1933,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
360,IDCJAC0009,47045,1933,12,27,0.0,NaN,Y
361,IDCJAC0009,47045,1933,12,28,0.0,NaN,Y
362,IDCJAC0009,47045,1933,12,29,0.0,NaN,Y
363,IDCJAC0009,47045,1933,12,30,0.0,NaN,Y
364,IDCJAC0009,47045,1933,12,31,0.0,NaN,Y

# Exercises

1. Show only the _rainfall amount_ (not the other columns) for 1945 in Wentworth
2. Show only the _rainfall amounts_ for every January in Wentworth
3. Show only the _rainfall amount_ (not the other columns) for January 1945 in Wentworth (hint:  You need to use some boolean algebra)