In [1]:
print("Hello Jupyter!")

Hello Jupyter!

In [3]:
import pandas

pandas.DataFrame({1:[1],2:[2]})

   1  2
0  1  2